body {
  width: 100vw;
  height: 100vh;
s}

header {
  width: 100%;
  height: 70px;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 100%;
  height: 600px;
  display: flex;
  background-image: url(cloth-alike.png);
  background-color: #40a1b2;
}

#selections {
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 100%;
  background-color: #a0dbef;
  align-items: center;
  justify-content: center;
}

#

input {
  display: block;
}

#resultsChain {
  width: 30%;
  /*background-color: white;*/
  height: 100%;
  /*align-items: center;
  justify-content: center;*/
}

#resultsImgChain {
  width: 75%;
  /*width: 45%;*/
  /*background-color: white;*/
  height: 100%;
  overflow-y: auto;
  align-items: center;
  justify-content: center;
}

.imgChainNode {
  display: block;
  /*width: 50px; replace with double arrow */
  height: 100px;
}

.chainNode {
  margin-left: auto;
  margin-right: auto;
  /*display: block;*/
  display: inline-block;
width: 100%;
text-align: center;

}

footer {
  width: 100%;
  height: 70px;
  padding-left: 70px;
  background-color: gray;
  color: white;
}

p {
  text-align: center;
}

img {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding:1px;
  border:5px double #021a40;
  background-color:#ff0;
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
}


input {
  margin: 10px;
  width: 40%;
  display: inline-block;
}

button {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
}

i {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 20px;
}

.fa-arrows-v {
  font-size: 30px;
}

#spellLists {
  /*visibility: visible; */
  width: 100%;
  height: 50%;
}
#spellList1 {
  /*visibility:hidden;*/
  /*align-items: center;
  justify-content: center;*/
  display:none;
  width: 45%;
  height: 100%;
  /*background-color: #a0dbef;*/
}

#spellList2 {
  /*visibility:hidden;*/
  /*align-items: center;
  justify-content: center;*/
  display: none;
  width: 45%;
  height: 100%;
  /*background-color: #a0dbef;*/
}

select.expand {
    width: auto;
}
